html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.carousel-container {
  position: relative;
  width: 100%;
  height: 100vh;
}

.carousel-inner img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.content-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

main {
  position: relative;
  z-index: 20;
  padding: 2rem;
  margin-top: 120px;
  align-content: center;
}

.overlay-bg {
  background-color: rgba(255, 255, 255, 0.85);
  padding: 2rem;
  border-radius: 0.5rem;
}

.content-overlay {
  pointer-events: none;
}

.content-overlay * {
  pointer-events: auto;
}
